// =============================================================================
// Headings typography
// =============================================================================


// Variables
// =============================================================================
heading-margin ?= 0 0 (1/4) 0;
heading-font-family ?= Helvetica Neue, Helvetica, Arial, sans-serif;
heading-line-height ?= 1.2;
heading-font-weight ?= 700;
heading-color ?= #000;

heading-small-color ?= #999;
heading-small-font-weight ?= 400;
heading-small-font-size ?= 70%;

heading-link-color ?= #1e87eb;
heading-link-text-decoration ?= none;

heading-link-visited-color ?= darken(heading-link-color, 20%);
heading-link-visited-text-decoration ?= heading-link-text-decoration;

heading-link-hover-color ?= lighten(heading-link-color, 20%);
heading-link-hover-text-decoration ?= underline;

h1-font-size-px ?= 44px;
h2-font-size-px ?= 32px;
h3-font-size-px ?= 26px;
h4-font-size-px ?= 21px;
h5-font-size-px ?= 18px;
h6-font-size-px ?= 16px;

// Use flags
// =============================================================================
use-headings-style ?= true;
use-headings-small ?= true;
use-headings-link ?= true;
use-headings-scale ?= true;

// Mixins
// =============================================================================
headings-scale(
    h1 = h1-font-size-px,
    h2 = h2-font-size-px,
    h3 = h3-font-size-px,
    h4 = h4-font-size-px,
    h5 = h5-font-size-px,
    h6 = h6-font-size-px
){
    h1, .h1 { font-size: h1; }
    h2, .h2 { font-size: h2; }
    h3, .h3 { font-size: h3; }
    h4, .h4 { font-size: h4; }
    h5, .h5 { font-size: h5; }
    h6, .h6 { font-size: h6; }  
}

// =============================================================================
headings-style(
    ff = heading-font-family,
    fw = heading-font-weight,
    c = heading-color,
    lh = heading-line-height,
    m = heading-margin
){
    h1, h2, h3, h4, h5, h6,
    .h1, .h2, .h3, .h4, .h5, .h6 {
        margin: m;
        line-height: lh;
        font-family: ff;
        font-weight: fw;
        color: c;
    }
}

// =============================================================================
headings-link(
    c = heading-link-color,
    td = heading-link-text-decoration,
    vc = heading-link-visited-color,
    vtd = heading-link-visited-text-decoration,
    hc = heading-link-hover-color,
    htd = heading-link-hover-text-decoration,
){
    h1, h2, h3, h4, h5, h6,
    .h1, .h2, .h3, .h4, .h5, .h6 {
        // Order L.V.H.F.A. matters
        // http://www.456bereastreet.com/archive/200811/the_order_of_link_pseudo-classes_matters/
        a {
            color: c;
            text-decoration: td;

            &:link {
                color: c;
                text-decoration: td;
            }

            &:visited {
                color: vc;
                text-decoration: vtd;
            }

            &:hover {
                color: hc;
                text-decoration: htd;
            }
        }
    }
}

// =============================================================================
headings-small(
    fs = heading-small-font-size,
    fw = heading-small-font-weight,
    c = heading-small-color,
    lh = 0
){
    h1, h2, h3, h4, h5, h6,
    .h1, .h2, .h3, .h4, .h5, .h6 {
        small {
            font-size: fs;
            font-weight: fw;
            color: c;
            line-height: lh;
        }
    }
}

// =============================================================================
typography-headings(){
    headings-style() if use-headings-style;
    headings-small() if use-headings-small;
    headings-link() if use-headings-link;
    headings-scale() if use-headings-scale;
}