// =============================================================================
// Text paragraph
// =============================================================================


// Variables
// =============================================================================
p-margin ?= 0 0 1 0;
p-text-indent ?= 0;

p-p-margin ?= 0 0 1 0;
p-p-text-indent ?= 0;


// Use flags
// =============================================================================
use-paragraph-style ?= true;


// Mixins
// =============================================================================
paragraph-style(
    m = p-margin,
    ti = p-text-indent,
    ppm = p-p-margin,
    ppti = p-p-text-indent
){
    p {
        margin: m;
        text-indent: ti;
    }

    p + p {
        margin: ppm;
        text-indent: ppti;
    }
}

// =============================================================================
typography-paragraph(){
    paragraph-style() if use-paragraph-style;    
}