// =============================================================================
// Text Aligning
// =============================================================================


// Mixin
// =============================================================================
typography-text-align-factory(prefix = null){
    if (prefix is defined) {
        prefix = prefix + '-';
    }

    .{prefix}text-left {
        text-align: left;
    }

    .{prefix}text-right {
        text-align: right;
    }

    .{prefix}text-center {
        text-align: center;
    }
}


// Mixin
// =============================================================================
typography-text-align(){
    typography-text-align-factory();

    if (grid-hand-up-media is defined && grid-hand-class is defined) {
        @media grid-hand-up-media {
            typography-text-align-factory(grid-hand-class);
        }
    }

    if (grid-lap-up-media is defined && grid-lap-class is defined && grid-lap-start is defined) {
        @media grid-lap-up-media {
            typography-text-align-factory(grid-lap-class);
        }
    }

    if (grid-desk-up-media is defined && grid-desk-class is defined && grid-desk-start is defined) {
        @media grid-desk-up-media {
            typography-text-align-factory(grid-desk-class);
        }
    }
}